HOST=localhost
PORT=3000

PGUSER=postgres
PGPASSWORD=
PGDATABASE=openjob_api_v1
PGHOST=localhost
PGPORT=5432

ACCESS_TOKEN_KEY=
REFRESH_TOKEN_KEY=

REDIS_HOST=

RABBITMQ_HOST=
RABBITMQ_PORT=
RABBITMQ_USER=
RABBITMQ_PASSWORD=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=